**.orig
*.rbc
*.sassc
*.sqlite3
*.sqlite3-journal
.bundle
.DS_Store
.metadata/
.rspec
.env
.sass-cache
.sass-cache/
.rbx
*.log
/.bundle
/config/initializers/faye_token.rb
/coverage/
/db/*.sqlite3
/log/*
/public/*.gz
/public/assets/*
/public/js/
/public/sitemap.xml
/public/sitemaps
/public/system/*
/public/thumb_temp/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
config/app_config.yml
config/database.yml
config/mongo.yml
config/production
config/sunspot.yml
config/newrelic.yml
log/*.*
log/*.log
pickle-email-*.html
public/uploads
rerun.txt
server.*
solr/data
tmp/
tmp/**/*
vendor/cache
/uploads
Procfile
